/*news-area*/
.news-area{
	height:640px;
	background-color:#FFFAFA;
	margin-top: -7px;
  color: #2F4F4F;
}

.news{
	padding-left: 5%;
	padding-right: 5%;
	margin-top: 50px;
	display: flex;
	justify-content: space-between;
}

.news-word{
  color:#2F4F4F;
	font-size: 75%;
	width: 27vw;
}

.list{
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

/*intro*/
.container {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  margin-right: auto;
  margin-left: auto;
  max-width: 100%;
}
.carousel-inner{
  margin-bottom: 5%;
  margin-left: 5%; 
  margin-right: 5%;
  width: 90%;
}
.carousel-control-prev{
  margin-left: 5%; 
  
}
.carousel-control-next{
  margin-right: 5%;  
}