/*news-area*/
.news-area{
	height:100%;
	background-color:#FFFAFA;
	margin-top: -7px;
  color: #2F4F4F;
}

.news{
	padding-left: 5%;
	padding-right: 5%;
	margin-top: 50px;
	display: flex;
	justify-content: space-between;
}

.news-word{
  color:#2F4F4F;
	width: 27vw;
}

.list{
  display: flex;
  justify-content: center;
  margin-top: 60px;
  margin-bottom: 60px;
}

/*intro*/
.container {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  margin-right: auto;
  margin-left: auto;
  max-width: 100%;
}
.carousel-inner{
  margin-bottom: 5%;
  margin-left: 5%; 
  margin-right: 5%;
  width: 90%;
}
.carousel-control-prev{
  margin-left: 5%; 
  
}
.carousel-control-next{
  margin-right: 5%;  
}

@media (max-width: 1199px) {
	
}

/*手機*/
@media (max-width: 767px) {
  .news-area{
    height:100%;
  }
  .news{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    padding-left:20%;
    padding-right: 20%;
  }
    
  .news-word{
    margin-left: 0px;
    margin-top: 10px;
    width:100%;
  }
}