
.main-area{
    height: 100%;
    background-color: #288e9d;
}

.bt-area{
    width: 240px;
    height: 125px;
    padding-left: 11%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bt{
	border: solid 1px #fff;
    border-radius: 3px;
    color: #fff;
    width: 100px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*news-area*/
.line{
    height: 1px;
    width: 77vw;
}

.news-area{
    padding-left: 11%;
    padding-right: 11%;
    color: #fff;
}

.news-title{
    margin-top: 25px;
}

.news-img{
    margin-top: 30px;
    width: 77vw;
}


