
.main-area{
    height: 100%;
    background-color: #FFFAFA;
}

.bt-area{
    width: 360px;
    height: 125px;
    padding-left: 11%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.small{
    font-size: small;
}

/*news-area*/
.line{
    height: 1px;
    width: 77vw;
}

.news-area{
    padding-left: 11%;
    padding-right: 11%;
    color: #2F4F4F
}

.news-title{
    margin-top: 25px;
}

.news-img{
    width: 77vw;
}

@media (max-width: 1199px) {
	.bt-area{
        width: 300px;
    }
}

/*手機*/
@media (max-width: 767px) {
    .bt-area{
        width: 230px;
    }
}
