.main-area{
    height: 100%;
    background-color: #FFFAFA;
}

.bt-area{
    width: 240px;
    height: 125px;
    padding-left: 11%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}



/*news-area*/
.line{
    
    height: 1px;
    width: 78vw;
}

.news-area{
    padding-left: 11%;
    padding-right: 11%;
    color: #2F4F4F;
}

.news-img{
    width: 360px;
}

.news{
    width:78vw;
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}

.news-word{
    color: #2F4F4F;
    margin-top: 0;
    margin-left: 30px;
}

/*平板*/
@media (max-width: 769px) {
	.news-img{
        width: 200px;
    }
    .bt-area{
        width: 191px;
    }
}

/*手機*/
@media (max-width: 376px) {
    .news{
        display: flex;
        flex-direction: column;
        margin-top: 25px;
    }
    
    .news-img{
        width: 78vw;
    }
    
    .news-word{
        margin-left: 0px;
        margin-top: 10px;
    }
    .bt-area{
        width: 146px;
    }
}